<!DOCTYPE html>
<html>
    <head>
        <title>{{ cert_name }}: {{course_name}} for {{ student_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css', _external=True) }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='certificate.css', _external=True) }}"/>
        <link href='http://fonts.googleapis.com/css?family=Quintessential|Pinyon+Script|Crimson+Text:600|UnifrakturMaguntia|Aguafina+Script' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div id='border'>
            <h1 class="blackletter largest">{{ cert_name }}</h1>
            <h2 class="blackletter larger">{{ site_name }}</h2>

            {% if sub_site_name %}
                <h3 class="blackletter large">{{ sub_site_name }}</h3>
            {% endif %}

            <p>
                <span class="bodytext largish">Hereby certifies that</span>

                <span class="script largerest ownline">{{ student_name }}</span>

                <span class="bodytext largish">has satisfactorily completed a course of study in</span>

                <span class="script larger ownline">{{ course_name }}</span>

                <span class="bodytext largish">this {{ verbose_date }}.</span>
            </p>

            <p>
                {% for person, title in important_people.iteritems() %}
                <div class="signaturebox" style="width: {{ 100 / (important_people|count)}}%;">
                    <span class="signaturename bodytext largish">{{ person|replace(" ", "&nbsp;")|safe }}</span>
                    <br/>
                    <span class="signaturetitle bodytext">{{ title|replace(" ", "&nbsp;")|safe }}</span>
                </div>
                {% endfor %}
            </p>
        </div>
    </body>

    <footer>
        <span class="bodytext tiny">Certificate #{{ cert_id|upper }} at {{ request.url_root }}</span>
    </footer>
</html>
