{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>{{ quiz_name }} Quiz Results</h2>

    <ol>
    {% for question in questions %}
        <li>{{ question }}:
        {% if results[questions[question]['id']] == True %}
            Correct
        {% else %}
            Incorrect
        {% endif %}
        </li>
    {% endfor %}
    </ol>

    <h3>{{ (percentage*100)|round|int }}% Correct</h3>

    <p>
        <a
        {% if percentage >= 1.0 %}
            href="/certificate/{{ result.id }}">Get your Certificate!</a>
        {% else %}
            href="/quiz/{{ result.testname }}">Retry?</a>
        {% endif %}
    </p>
</div>

{% endblock %}
